@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  color: #fff;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
